<h3>My Actions</h3>
<div *ngIf="user[2]!='Owner'">
  <div style="align-items: center;align-content: center;text-align: center;">
    <h4>actions</h4>
    <mat-list *ngIf="actions!=[]" style="align-items: center;align-content: center;">
      <mat-list-item *ngFor="let action of actions">
        <div mat-line>{{action[2]}}</div>
        <div mat-line> {{action[3]}} ₪</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Product Name:</mat-label>
      <input matInput placeholder="Gum" #productName>
      <br />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput placeholder="20" #price>
    </mat-form-field>
    <br />
    <button class="primary-button" mat-raised-button (click)="addAction(productName.value,price.value)">Submit</button>
    <button class="primary-button" mat-raised-button (click)="openNfcReader()">Pay with NFC</button>
    <button class="primary-button" mat-raised-button [disabled]="user[7]!='PREMIUM'" (click)="syncPaybox()">Sync your
      last bills</button>
  </div>
</div>
<div class="family-list" *ngIf="user[2]==='Owner'" >
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let item of family" label="{{item}}">
      <div *ngIf="familyActionKids.includes(item); else no_actions">
        <mat-list style="align-items: center;align-content: center;">
          <mat-list-item *ngFor="let action of familyActions[item]">
            <div mat-line>{{action.action_name}}</div>
            <div mat-line> {{action.action_price}} ₪</div>
          </mat-list-item>
        </mat-list>
      </div>
      <ng-template #no_actions>
        {{item}} did not insert any action
      </ng-template>

    </mat-tab>
  </mat-tab-group>
</div>
