<mat-horizontal-stepper>
  <mat-step>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="dana@gmail.com" #email>
      <br />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="******" #password type="password">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Moshe" #firstName>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="Cohen" #lastName>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select [(value)]="selectedRole">
        <mat-option [value]="option.viewValue" *ngFor="let option of roles">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button
      [disabled]="!email.value.includes('@') || password.value==='' || firstName.value==='' || lastName.value===''"
      matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Paybox Username</mat-label>
      <input matInput placeholder="gmail@gmail.com" #userName>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Paybox Password</mat-label>
      <input matInput placeholder="***" type="password" #userPass>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Paybox Group ID</mat-label>
      <input matInput placeholder="Moshe" type="password" #payboxId>
    </mat-form-field>
    <button mat-button matStepperNext
      [disabled]="!userName.value.includes('@') || userPass.value==='' || payboxId.value===''"
      (click)="addFamilyMember(email.value,password.value,firstName.value,lastName.value,payboxId.value)">Connect</button>
  </mat-step>
  <mat-step>
    <div style="display:flex;flex-direction:column;align-items: center;">
      <h3>Connecting to Paybox Group</h3>
      <img src="../../assets/paybox-pic.png" style="width: 25vh;">
      <div *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>