nav a {
    margin-left: 3px;
}

.list-card {
    margin-bottom: 20px;
}


.main-nav {
    margin-right: 1vh;
}



.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.rotate {
    transition: transform .7s ease-in-out;
}

.rotate:hover {
    transform: rotate(360deg);
}

.contact {
    position: fixed;
    right: 0;
    bottom: 0;
}