<div style="background-color: #7C7C7C;margin-top: -3vh;box-shadow: 1px 2px 21px black;">
  <div (click)="goHomePage()" class="header" style="display: flex;justify-content: center;">
    <table>
      <tr>
        <td>
          <h1>Welcome to PayKids</h1>
        </td>
        <td><img class="rotate" src="../assets/bitcoin_foxy.png"
            style="width: 14vh;height: 14vh;margin-bottom: -4vh;margin-left: -3vh;">
        </td>
      </tr>
    </table>
  </div>
</div>
<br /><br />
<nav style="display: flex;justify-content: center;">
  <button class="primary-button main-nav" mat-raised-button *ngIf="!loggedIn" routerLink="/login">Login here</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="!loggedIn" routerLink="/signup">Sign Up</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="loggedIn" (click)="logout()"
    routerLink="/login">Logout</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="loggedIn && user[2]==='Owner'"
    (click)="goToMyFamily()">My Family</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="loggedIn && user[2]==='Owner'"
    routerLink="/assign-savings">Assign Campaigns to Kids</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="loggedIn"
    routerLink="/my-actions/1">{{user[2]!='Owner' ? 'My History Actions' : 'Family History Actions'}}</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="loggedIn" routerLink="/targets">
    {{user[2]!='Owner' ? 'My Targets' : 'Family Targets'}}</button>
  <button class="primary-button main-nav" mat-raised-button *ngIf="loggedIn" routerLink="/my-savings">
    {{user[2]!='Owner' ? 'My Campaigns' : 'Family Campaigns'}}
  </button>
</nav>
<router-outlet></router-outlet>
<div class="contact" style="display: flex;justify-content: end;margin-top: -34px;">
  <h4 style="margin-right: 2vh;">Contact Us- </h4>
  <a href="https://www.facebook.com/PayKids-102881392444443"><img style="width:30ox;height:30px;margin-top: 2vh;"
      src="../assets/facebook-logo.PNG"></a>
  <a href="mailto:support@paykids.com">
    <mat-icon style="margin-top: 2vh;">email</mat-icon>
  </a>
</div>