<h3>My Targets</h3>
<div *ngIf="user[2]!='Owner'">
  <h4>targets</h4>
  <mat-list style="align-items: center;align-content: center;">
    <div>
      <mat-list-item *ngFor="let target of targets">
        <div mat-line>{{target[2]}}</div>
        <div mat-line> {{target[3]}}</div>
        <div mat-line style="cursor: pointer;" (click)="removeTargets(target)">
          <mat-icon>delete</mat-icon>
        </div>
      </mat-list-item>

    </div>

  </mat-list>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Target Name</mat-label>
    <input matInput placeholder="Sony Playstation 5" #targetName>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Target Price</mat-label>
    <input matInput placeholder="1500" #price>
  </mat-form-field>
  <br />
  <button class="primary-button" mat-raised-button (click)="addUserTarget(targetName.value,price.value)">Submit</button>
</div>
<div class="family-list" *ngIf="user[2]==='Owner'">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let item of family" label="{{item}}">
      <div *ngIf="familyTargetsKids.includes(item); else no_targets">
        <mat-list style="align-items: center;align-content: center;">
          <mat-list-item *ngFor="let target of familyTargets[item]">
            <div mat-line>{{target.target_name}}</div>
            <div mat-line> {{target.target_price}} ₪</div>
          </mat-list-item>
        </mat-list>
      </div>
      <ng-template #no_targets>
        {{item}} did not insert any targets
      </ng-template>

    </mat-tab>
  </mat-tab-group>
</div>