<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="dana@gmail.com" #email>
    <br />
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="******" #password type="password">
</mat-form-field>
<br/>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Moshe" #password type="password">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>LastName</mat-label>
    <input matInput placeholder="Cohen" #password type="password">
</mat-form-field>
<br/>
<button mat-raised-button>Submit</button>