<h2>Assign Missions for Your Kids</h2>
<div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Selected Video</mat-label>
            <mat-select [(value)]="selectedVideo">
                <mat-option (click)="getVideo()" *ngFor="let video of videos" [value]="video"
                    [disabled]="(video.value === 'video-3' || video.value === 'video-4') && user[7]!='PREMIUM' ">
                    {{video.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Your Kid</mat-label>
            <mat-select [(value)]="selectedKid">
                <mat-option *ngFor="let kid of myKids" [value]="kid">
                    {{kid[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <span *ngIf="selectedKid && selectedVideo">
        {{selectedKid[0]}} will earn: {{selectedVideo.price}} ₪
        ({{selectedVideo.viewValue}})
        <br />
        Money will be in paybox id: {{selectedKid[5]}}
    </span>
</div>
<div *ngIf="selectedKid && selectedVideo">
    <button class="primary-button" mat-raised-button (click)="initializePayment()">Payment of {{selectedVideo.price}}
        ₪</button>
</div>
<div>
    <h2>Allowance</h2>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Allowance amount</mat-label>
        <input type="number" matInput placeholder="10" #payment>
        <span matSuffix>₪</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Your Kid</mat-label>
        <mat-select [(value)]="selectedKidAllowance">
            <mat-option *ngFor="let kid of myKids" [value]="kid">
                {{kid[0]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="selectedKidAllowance" class="primary-button" mat-raised-button (click)="startPay(selectedKidAllowance,payment.value)">Send Money to {{selectedKidAllowance[0]}}</button>
</div>