<h2>Assign Missions for Your Kids</h2>
<div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Selected Video</mat-label>
            <mat-select [(value)]="selectedVideo">
                <mat-option (click)="getVideo()" *ngFor="let video of videos" [value]="video">
                    {{video.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Your Kid</mat-label>
            <mat-select [(value)]="selectedKid">
                <mat-option *ngFor="let kid of myKids" [value]="kid">
                    {{kid[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <span *ngIf="selectedKid && selectedVideo">
        it will earn {{selectedKid[0]}} : {{selectedVideo.price}} ₪
        ({{selectedVideo.viewValue}})
    </span>
    <button class="primary-button" *ngIf="selectedKid && selectedVideo" (click)="addSavingExc()" mat-raised-button>Submit</button>
</div>