<div *ngIf="user">
    <h2>Welcome {{user[0]}}</h2>
</div>
<mat-icon (click)="openNot()" *ngIf="user[2]==='Owner'" matBadge="{{unseen_actions.length}}" matBadgeColor="warn">home
</mat-icon>
<span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number 15
</span>
<div *ngIf="user">
    <div *ngIf="user[2]=='Owner'">
        <h4>Your Kids</h4>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [disabled]="user[7]!='PREMIUM'" *ngFor="let person of family"
                style="margin: auto;width: 50%;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{person[3]}} {{person[4]}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Amount: {{familyAmount[person[0]][0].user_amount}} ₪
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="display: flex;align-items: center;justify-content: space-evenly;">
                    <div class="card">
                        <h3>
                            Actions
                        </h3>
                        <div (click)="navigateToActions()" *ngIf="familyActions[person[0]]!=undefiend"
                            style="cursor: pointer;">
                            <div *ngFor="let item of familyActions[person[0]].slice(0,4)">
                                    {{item.action_name}}
                                    {{item.action_price}} ₪
                            </div>
                        </div>
                        <div *ngIf="!familyActions[person[0]]">
                            {{person[3]}} did not entered any action
                        </div>
                        ...
                    </div>
                    <div class="card">
                        <h3>Targets</h3>
                        <div (click)="navigateToTarget()" *ngIf="familyTargets[person[0]]!=undefiend"
                            style="cursor: pointer;">
                            <div *ngFor="let item of familyTargets[person[0]].slice(0,4)">
                                    {{item.target_name}} {{item.target_price}} ₪
                            </div>
                        </div>
                        <div *ngIf="!familyTargets[person[0]]">
                            {{person[3]}} did not entered any target
                        </div>
                        ...
                    </div>
                    <div class="card">
                        <h3>
                            Campaigns
                        </h3>
                        <div (click)="navigateToActions(person[0])" *ngIf="familySavings[person[0]]!=undefiend"
                            style="cursor: pointer;">
                            <div *ngFor="let item of familySavings[person[0]]">
                                {{item.saving_name}}
                                {{item.saving_price}} ₪
                            </div>
                        </div>
                        <div *ngIf="!familySavings[person[0]]">
                            {{person[3]}} did not finish any saving campaign
                        </div>
                        ...
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <h4 *ngIf="user[7]!='PREMIUM'">For enabling family summary go premium ;)</h4>
    </div>
    <div *ngIf="user[2]!='Owner'">
        <h3>Current Amount: {{myAmount}} ₪</h3>
        <div class="main-card">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Last Actions</mat-card-title>
                    <mat-card-subtitle>
                        <div *ngIf="myActions!=[]">
                            <div *ngFor="let action of myActions.slice(0,4)">
                                {{action[2]}} {{action[3]}} ₪
                            </div>
                        </div>
                        <div *ngIf="myActions==[]">
                            Start inserting your last actions ...
                        </div>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Your Targets</mat-card-title>
                    <mat-card-subtitle>
                        <div *ngIf="myTargets;else empty_targets">
                            <div *ngFor="let target of myTargets.slice(0,4)">
                                {{target[2]}} {{target[3]}} ₪
                            </div>
                        </div>
                        <ng-template #empty_targets>
                            Please start insert your targets
                        </ng-template>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Your Campaigns</mat-card-title>
                    <mat-card-subtitle>
                        <div *ngIf="mySavings;else empty_saving">
                            <div *ngFor="let saving of mySavings.slice(0,4)">
                                {{saving[2]}} {{saving[3]}} ₪
                            </div>
                        </div>
                        <ng-template #empty_saving>
                            You finished all your campaigns
                        </ng-template>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>