.mat-card {
    margin: 2vh;
    width: 30vh;
    height: 18vh;
    background-color: #2B303A;
}

.main-card {
    height: 35vh;
    display: flex;
    justify-content: center;
}

mat-card-title,mat-card-subtitle{
    color:#EEE5E9 ;
}

.white-icon {
    color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: white;
}

